.page-continer{
  display: flex;
  flex-direction: column;
}

.files-row , .folders-row{
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  padding-left: 1rem;
}

.content-box{
  display: flex;
}

.file-continer, .folder-continer{
  display: flex;
  height: 5rem;
  padding: 0.5rem;
  width: 5rem;
  border: 1px solid brown;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  margin-left: 0.5rem;
  flex-direction: column;
  overflow: hidden;
}

.folder-name{
  font-size: larger;
}

.folder-icon{
  height: 3.4rem;
  width: 4rem;
  background-color: black;
  background-size: contain;
  clip-path: polygon(0rem 0.3rem, 2.2rem 0.3rem, 2.5rem 0rem, 3.6rem 0rem, 3.9rem 0.3rem ,4rem 0.4rem, 4rem 4rem, 0rem 4rem);
}

.file-icon{
  background-image: url('./components/icons8-papers-64.png');
  height: 3.4rem;
  width: 4rem;
}